.widget {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;

  &--width-1 {
    width: 230px;
  }

  &--height-1 {
    height: 230px;
  }

  &__body {
    padding: 16px 14px;
  }

  &__text {
    font-size: 1.4em;
  }

  &--flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
header {
  height: 23px;
  padding: 12px 14px 6px 14px;
  top: 0;
  background-color: #4d4f50;
}
